{
    "account_id":"7a17c8371a5a511fc92bc61e2b4c068e7546a3cd5d6c0bbdef1b8132c8b30376",
    "master_seed_phrase":"either pioneer snow conduct divorce derive urban gospel answer bachelor soap stock",
    "private_key":"ed25519:4JoG9dVMwPp869VXPaWYwAfT7cLYDoZifk48FwK7gVCWXrpytrT4uyQcLQNS6vGNQZVfAHWUGTeos6fhHTsWskv9",
    "public_key":"ed25519:9DbmnSYXws5hB7KHBLD6YwuDYCxCTX9b4MSEQhZzgTp1",
    "seed_phrase_hd_path":"m/44'/397'/0'"
}