{"account_id":"a6aed866de268cfd8c0b559ad2cdd691d9d5a75d35cc7f707fb0a663c72196de","master_seed_phrase":"path afraid best save lobster crane message ordinary veteran ride worth vicious","private_key":"ed25519:4xEFCKa21V65U4uqe7ZhoTUKYew9bTeV4VQNzpiLQnGWg4CVz1B76ULwGg323qJruYFj5kdpvS4qw5SGA9FV7EhB","public_key":"ed25519:CDfK6HSWnx5xag9EyFDpCBYASfVtefjUf7dg156uZNoX","seed_phrase_hd_path":"m/44'/397'/0'"}