{"account_id":"4e3bb8caa23365af68aa99501f9419a932e5b7fecb5ed75e3dfaf90da6fbe4cf","master_seed_phrase":"shoulder mule option dizzy grass celery swarm pact ankle february harvest dynamic","private_key":"ed25519:5oMR6XaRmiFGDuvqyez5gN4oozCush1ocKgAVCZqmMHRjJNx7ZNn2tk678fDFXykFgU6hzyPZbbLpK7TNWBwMouG","public_key":"ed25519:6GPctPhdGwRp3FJiR5vv7r8ZyFqTmcsym3JpHNH2iEUe","seed_phrase_hd_path":"m/44'/397'/0'"}